.win98-window {
  width: 900px;
  margin: 20px auto;
  background: #c0c0c0;

  border-top: 2px solid #fff;
  border-left: 2px solid #fff;

  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;
}

.win98-titlebar {
  background: #000080;
  color: white;

  padding: 4px 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;
}

.titlebar-text {
  display: flex;
  align-items: center;
  gap: 6px;
}

.titlebar-text img {
  width: 25px;
  height: 25px;
}

.win98-content {
  padding: 16px;
}

button {
  background: #c0c0c0;
  color: black;

  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;

  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;

  padding: 4px 10px;

  cursor: pointer;
}

button:active {
  border-top: 2px solid #404040;
  border-left: 2px solid #404040;

  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

button:disabled {
  color: gray;
}
