@font-face {
  font-family: "Win98";
  src: url("../assets/font/MSW98UI-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Win98";
  src: url("../assets/font/MSW98UI-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "Win98", Tahoma, sans-serif;
}

body {
  margin: 0;
  background: #008080;
  color: black;
}

h2 {
  color: black;
  font-family: "Win98", Tahoma, sans-serif;
  text-align: left;
  padding-bottom: 10px;

  font-weight: bold;
}
.win98-window {
  width: 900px;
  margin: 20px auto;
  background: #c0c0c0;

  border-top: 2px solid #fff;
  border-left: 2px solid #fff;

  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;
}

.win98-titlebar {
  background: #000080;
  color: white;

  padding: 4px 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;
}

.titlebar-text {
  display: flex;
  align-items: center;
  gap: 6px;
}

.titlebar-text img {
  width: 25px;
  height: 25px;
}

.win98-content {
  padding: 16px;
}

button {
  background: #c0c0c0;
  color: black;

  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;

  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;

  padding: 4px 10px;

  cursor: pointer;
}

button:active {
  border-top: 2px solid #404040;
  border-left: 2px solid #404040;

  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

button:disabled {
  color: gray;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #c0c0c0;
}

th {
  background: #c0c0c0;

  text-align: left;

  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;

  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;

  padding: 4px;
}

.col-priority {
  width: 100px;
  cursor: "pointer";
}

.col-due {
  width: 150px;
  cursor: "pointer";
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.td-text {
  text-align: left;
}

tr:hover {
  background: #d6e8ff;
}

tbody tr {
  position: relative;
}

tbody tr::after {
  content: "";

  position: absolute;

  left: 12px;
  right: 12px;
  bottom: 0;

  border-top: 2px solid #808080;
  border-bottom: 2px solid #ffffff;
}

.notes-column {
  width: 220px;
}

.notes-cell {
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type="text"],
input[type="date"],
textarea,
select {
  width: 100%;

  background: white;
  color: black;

  border-top: 2px solid #404040;
  border-left: 2px solid #404040;

  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;

  padding: 4px;

  box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
  padding: 0;
}

.tabs {
  display: flex;
  gap: 2px;
  margin-bottom: 16px;
}

.tab {
  background: #c0c0c0;

  border-top: 2px solid white;
  border-left: 2px solid white;

  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;

  padding: 8px 16px;
}

.tab.active {
  position: relative;
  z-index: 2;

  border-bottom: 2px solid #c0c0c0;

  margin-bottom: -2px;
}

.table-container {
  background: white;

  border-top: 2px solid #404040;
  border-left: 2px solid #404040;

  border-right: 2px solid white;

  padding: 2px;
}

.main-panel {
  position: relative;

  margin-top: -17px;

  padding: 16px;

  border-left: 2px solid white;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;

  border-top: 2px solid white;
}

.panel-actions {
  display: flex;
  justify-content: flex-end;

  margin-top: 20px;
}

.panel-actions button {
  width: 110px;
  margin: 0px 10px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form-group label {
  width: 70px;
  flex-shrink: 0;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group textarea {
  flex: 1;
}

.priority-box {
  border-top: 2px solid #404040;
  border-left: 2px solid #404040;

  border-right: 2px solid white;
  border-bottom: 2px solid white;

  margin-left: 20px;

  padding: 12px;
}

.priority-box legend {
  margin-right: auto;
  padding: 0 15px;
}

.priority-option {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 20px;
  font-size: 15px;
  margin-bottom: 8px;
}

.modal-body {
  display: flex;
}

.modal-sidebar {
  width: 180px;
  background: #008080;

  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: 100px;
  border-top: 3px solid #404040;
  border-left: 3px solid #404040;

  border-right: 3px solid #404040;
  border-bottom: 3px solid #404040;
}

.icon-calendar {
  width: 80px;
  margin-left: 40px;
  margin-top: 30px;
}

.icon-clock {
  width: 60px;
  margin-right: 80px;
  margin-top: 20px;
}

.icon-note {
  width: 60px;
  margin-left: 50px;
}

.modal-content {
  flex: 1;
  padding: 20px;
}

.form-group input[type="text"] {
  width: 230px;
}

.form-group textarea {
  width: 230px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  margin-top: 30px;
}

.modal-actions button {
  width: 90px;
}

.modal-divider {
  height: 2px;

  margin-top: 25px;
  margin-bottom: 20px;

  background: #808080;

  border-bottom: 1px solid #ffffff;
}
